<script>
	import { onMount } from "svelte";
  import logo from '/logo.svg';

  let isDark = true

  onMount(async () => {
    isDark = window.document.documentElement.classList.toggle('dark');
  });

  const toggleTheme = () => {
    isDark = window.document.documentElement.classList.toggle('dark');
    localStorage.setItem('color-theme', isDark ? 'dark' : 'light');
  };
  export const prerender = true;
</script>

<div class="h-screen bg-white dark:bg-black text-slate-950 dark:text-gray-50">
  <div class="h-full flex flex-col grid-rows-3">
    <div class="pt-12 flex flex-grow-0 flex-shrink basis-0 self-auto items-center justify-center">
      <button on:click={()=>{toggleTheme()}} class="svgWrap">
        <img src={logo} alt="Logo" class="w-24 font-extrabold {isDark?"invert":"invert-0"} svgWrap__text">
      </button>
    </div>
    <div class="flex flex-grow flex-col gap-12 justify-center items-center text-4xl font-bold glitch-wrapper">
      <!-- Warning: Here will be dragons
      <div class="portfolio-experiment glitch-wrapper">
        <div class="experiment-title glitch">Sitio web</div>
      </div>
      -->
      <a class="glitch" data-text="Website" href="https://rlab.be/">Website</a>
      <a class="glitch" data-text="Donaciones" href="https://rlab.be/donaciones/">Donaciones</a>
      <a class="glitch" data-text="GitLab" href="https://gitlab.com/rlyehlab">GitLab</a>
      <a class="glitch" data-text="Wiki" href="https://wiki.rlab.be/">Wiki</a>
    </div>
    <div class="h-1/6 sm:gap-12 gap-6 flex justify-center items-center">
      <a href="https://fediverse.tv/c/rlab_hacklab/videos">
        <!-- Fediverse -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
          <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
        </svg>
      </a>
      <a href="https://gitlab.com/rlyehlab">
        <!-- Gitlab -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-git" viewBox="0 0 16 16">
          <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457"/>
        </svg>
      </a>
      <a href="https://mastodon.uy/@rlab">
        <!-- Mastodon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-mastodon" viewBox="0 0 16 16">
          <path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"/>
        </svg>
      </a>
      <a href="https://t.me/rlyehNews">
        <!-- Telegram -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
        </svg>
      </a>
      <a href="https://twitter.com/_rlab">
        <!-- Twitter -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
          <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
        </svg>
      </a>
    </div>
  </div>
</div>

<style>
  *, div {
    font-family: 'Parametric', sans-serif;
  }

  .glitch-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .glitch {
    text-transform: upercase;
    position: relative;
    display: inline-block;
  }
  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .glitch::before {
    left: 2px;
    text-shadow: -2px 0 #49FC00;
    clip: rect(24px, 550px, 90px, 0);
    -webkit-animation: glitch-anim-2 2.5s infinite linear alternate-reverse;
            animation: glitch-anim-2 2.5s infinite linear alternate-reverse;
  }
  .glitch::after {
    left: -2px;
    text-shadow: -2px 0 #b300fc;
    clip: rect(85px, 550px, 140px, 0);
    -webkit-animation: glitch-anim 2.5s infinite linear alternate-reverse;
            animation: glitch-anim 2.5s infinite linear alternate-reverse;
  }
  @-webkit-keyframes glitch-anim {
    0% {
      clip: rect(110px, 9999999px, 74px, 0);
    }
    4.16666667% {
      clip: rect(135px, 9999999px, 143px, 0);
    }
    8.33333333% {
      clip: rect(100px, 9999999px, 100px, 0);
    }
    12.5% {
      clip: rect(38px, 9999999px, 24px, 0);
    }
    16.66666667% {
      clip: rect(125px, 9999999px, 83px, 0);
    }
    20.83333333% {
      clip: rect(149px, 9999999px, 63px, 0);
    }
    25% {
      clip: rect(12px, 9999999px, 104px, 0);
    }
    29.16666667% {
      clip: rect(68px, 9999999px, 7px, 0);
    }
    33.33333333% {
      clip: rect(77px, 9999999px, 20px, 0);
    }
    37.5% {
      clip: rect(99px, 9999999px, 6px, 0);
    }
    41.66666667% {
      clip: rect(27px, 9999999px, 99px, 0);
    }
    45.83333333% {
      clip: rect(58px, 9999999px, 107px, 0);
    }
    50% {
      clip: rect(108px, 9999999px, 77px, 0);
    }
    54.16666667% {
      clip: rect(58px, 9999999px, 87px, 0);
    }
    58.33333333% {
      clip: rect(142px, 9999999px, 112px, 0);
    }
    62.5% {
      clip: rect(124px, 9999999px, 125px, 0);
    }
    66.66666667% {
      clip: rect(61px, 9999999px, 53px, 0);
    }
    70.83333333% {
      clip: rect(117px, 9999999px, 74px, 0);
    }
    75% {
      clip: rect(21px, 9999999px, 74px, 0);
    }
    79.16666667% {
      clip: rect(117px, 9999999px, 70px, 0);
    }
    83.33333333% {
      clip: rect(87px, 9999999px, 122px, 0);
    }
    87.5% {
      clip: rect(95px, 9999999px, 9px, 0);
    }
    91.66666667% {
      clip: rect(121px, 9999999px, 75px, 0);
    }
    95.83333333% {
      clip: rect(121px, 9999999px, 115px, 0);
    }
    100% {
      clip: rect(101px, 9999999px, 72px, 0);
    }
  }
  @-o-keyframes glitch-anim {
    0% {
      clip: rect(110px, 9999999px, 74px, 0);
    }
    4.16666667% {
      clip: rect(135px, 9999999px, 143px, 0);
    }
    8.33333333% {
      clip: rect(100px, 9999999px, 100px, 0);
    }
    12.5% {
      clip: rect(38px, 9999999px, 24px, 0);
    }
    16.66666667% {
      clip: rect(125px, 9999999px, 83px, 0);
    }
    20.83333333% {
      clip: rect(149px, 9999999px, 63px, 0);
    }
    25% {
      clip: rect(12px, 9999999px, 104px, 0);
    }
    29.16666667% {
      clip: rect(68px, 9999999px, 7px, 0);
    }
    33.33333333% {
      clip: rect(77px, 9999999px, 20px, 0);
    }
    37.5% {
      clip: rect(99px, 9999999px, 6px, 0);
    }
    41.66666667% {
      clip: rect(27px, 9999999px, 99px, 0);
    }
    45.83333333% {
      clip: rect(58px, 9999999px, 107px, 0);
    }
    50% {
      clip: rect(108px, 9999999px, 77px, 0);
    }
    54.16666667% {
      clip: rect(58px, 9999999px, 87px, 0);
    }
    58.33333333% {
      clip: rect(142px, 9999999px, 112px, 0);
    }
    62.5% {
      clip: rect(124px, 9999999px, 125px, 0);
    }
    66.66666667% {
      clip: rect(61px, 9999999px, 53px, 0);
    }
    70.83333333% {
      clip: rect(117px, 9999999px, 74px, 0);
    }
    75% {
      clip: rect(21px, 9999999px, 74px, 0);
    }
    79.16666667% {
      clip: rect(117px, 9999999px, 70px, 0);
    }
    83.33333333% {
      clip: rect(87px, 9999999px, 122px, 0);
    }
    87.5% {
      clip: rect(95px, 9999999px, 9px, 0);
    }
    91.66666667% {
      clip: rect(121px, 9999999px, 75px, 0);
    }
    95.83333333% {
      clip: rect(121px, 9999999px, 115px, 0);
    }
    100% {
      clip: rect(101px, 9999999px, 72px, 0);
    }
  }
  @-moz-keyframes glitch-anim {
    0% {
      clip: rect(110px, 9999999px, 74px, 0);
    }
    4.16666667% {
      clip: rect(135px, 9999999px, 143px, 0);
    }
    8.33333333% {
      clip: rect(100px, 9999999px, 100px, 0);
    }
    12.5% {
      clip: rect(38px, 9999999px, 24px, 0);
    }
    16.66666667% {
      clip: rect(125px, 9999999px, 83px, 0);
    }
    20.83333333% {
      clip: rect(149px, 9999999px, 63px, 0);
    }
    25% {
      clip: rect(12px, 9999999px, 104px, 0);
    }
    29.16666667% {
      clip: rect(68px, 9999999px, 7px, 0);
    }
    33.33333333% {
      clip: rect(77px, 9999999px, 20px, 0);
    }
    37.5% {
      clip: rect(99px, 9999999px, 6px, 0);
    }
    41.66666667% {
      clip: rect(27px, 9999999px, 99px, 0);
    }
    45.83333333% {
      clip: rect(58px, 9999999px, 107px, 0);
    }
    50% {
      clip: rect(108px, 9999999px, 77px, 0);
    }
    54.16666667% {
      clip: rect(58px, 9999999px, 87px, 0);
    }
    58.33333333% {
      clip: rect(142px, 9999999px, 112px, 0);
    }
    62.5% {
      clip: rect(124px, 9999999px, 125px, 0);
    }
    66.66666667% {
      clip: rect(61px, 9999999px, 53px, 0);
    }
    70.83333333% {
      clip: rect(117px, 9999999px, 74px, 0);
    }
    75% {
      clip: rect(21px, 9999999px, 74px, 0);
    }
    79.16666667% {
      clip: rect(117px, 9999999px, 70px, 0);
    }
    83.33333333% {
      clip: rect(87px, 9999999px, 122px, 0);
    }
    87.5% {
      clip: rect(95px, 9999999px, 9px, 0);
    }
    91.66666667% {
      clip: rect(121px, 9999999px, 75px, 0);
    }
    95.83333333% {
      clip: rect(121px, 9999999px, 115px, 0);
    }
    100% {
      clip: rect(101px, 9999999px, 72px, 0);
    }
  }
  @keyframes glitch-anim {
    0% {
      clip: rect(110px, 9999999px, 74px, 0);
    }
    4.16666667% {
      clip: rect(135px, 9999999px, 143px, 0);
    }
    8.33333333% {
      clip: rect(100px, 9999999px, 100px, 0);
    }
    12.5% {
      clip: rect(38px, 9999999px, 24px, 0);
    }
    16.66666667% {
      clip: rect(125px, 9999999px, 83px, 0);
    }
    20.83333333% {
      clip: rect(149px, 9999999px, 63px, 0);
    }
    25% {
      clip: rect(12px, 9999999px, 104px, 0);
    }
    29.16666667% {
      clip: rect(68px, 9999999px, 7px, 0);
    }
    33.33333333% {
      clip: rect(77px, 9999999px, 20px, 0);
    }
    37.5% {
      clip: rect(99px, 9999999px, 6px, 0);
    }
    41.66666667% {
      clip: rect(27px, 9999999px, 99px, 0);
    }
    45.83333333% {
      clip: rect(58px, 9999999px, 107px, 0);
    }
    50% {
      clip: rect(108px, 9999999px, 77px, 0);
    }
    54.16666667% {
      clip: rect(58px, 9999999px, 87px, 0);
    }
    58.33333333% {
      clip: rect(142px, 9999999px, 112px, 0);
    }
    62.5% {
      clip: rect(124px, 9999999px, 125px, 0);
    }
    66.66666667% {
      clip: rect(61px, 9999999px, 53px, 0);
    }
    70.83333333% {
      clip: rect(117px, 9999999px, 74px, 0);
    }
    75% {
      clip: rect(21px, 9999999px, 74px, 0);
    }
    79.16666667% {
      clip: rect(117px, 9999999px, 70px, 0);
    }
    83.33333333% {
      clip: rect(87px, 9999999px, 122px, 0);
    }
    87.5% {
      clip: rect(95px, 9999999px, 9px, 0);
    }
    91.66666667% {
      clip: rect(121px, 9999999px, 75px, 0);
    }
    95.83333333% {
      clip: rect(121px, 9999999px, 115px, 0);
    }
    100% {
      clip: rect(101px, 9999999px, 72px, 0);
    }
  }
  @-webkit-keyframes glitch-anim-2 {
    6.66666667% {
      clip: rect(76px, 9999999px, 132px, 0);
    }
    10% {
      clip: rect(13px, 9999999px, 82px, 0);
    }
    13.33333333% {
      clip: rect(97px, 9999999px, 2px, 0);
    }
    16.66666667% {
      clip: rect(1px, 9999999px, 147px, 0);
    }
    20% {
      clip: rect(113px, 9999999px, 124px, 0);
    }
    23.33333333% {
      clip: rect(132px, 9999999px, 130px, 0);
    }
    26.66666667% {
      clip: rect(120px, 9999999px, 32px, 0);
    }
    30% {
      clip: rect(2px, 9999999px, 10px, 0);
    }
    33.33333333% {
      clip: rect(76px, 9999999px, 46px, 0);
    }
    36.66666667% {
      clip: rect(140px, 9999999px, 79px, 0);
    }
    40% {
      clip: rect(37px, 9999999px, 67px, 0);
    }
    43.33333333% {
      clip: rect(133px, 9999999px, 95px, 0);
    }
    46.66666667% {
      clip: rect(6px, 9999999px, 16px, 0);
    }
    50% {
      clip: rect(98px, 9999999px, 123px, 0);
    }
    53.33333333% {
      clip: rect(42px, 9999999px, 88px, 0);
    }
    56.66666667% {
      clip: rect(77px, 9999999px, 110px, 0);
    }
    60% {
      clip: rect(22px, 9999999px, 145px, 0);
    }
    63.33333333% {
      clip: rect(47px, 9999999px, 75px, 0);
    }
    66.66666667% {
      clip: rect(109px, 9999999px, 135px, 0);
    }
    70% {
      clip: rect(118px, 9999999px, 40px, 0);
    }
    73.33333333% {
      clip: rect(74px, 9999999px, 141px, 0);
    }
    76.66666667% {
      clip: rect(59px, 9999999px, 100px, 0);
    }
    80% {
      clip: rect(14px, 9999999px, 32px, 0);
    }
    83.33333333% {
      clip: rect(22px, 9999999px, 28px, 0);
    }
    86.66666667% {
      clip: rect(106px, 9999999px, 74px, 0);
    }
    90% {
      clip: rect(33px, 9999999px, 97px, 0);
    }
    93.33333333% {
      clip: rect(94px, 9999999px, 29px, 0);
    }
    96.66666667% {
      clip: rect(108px, 9999999px, 87px, 0);
    }
    100% {
      clip: rect(5px, 9999999px, 14px, 0);
    }
  }
  @-o-keyframes glitch-anim-2 {
    6.66666667% {
      clip: rect(76px, 9999999px, 132px, 0);
    }
    10% {
      clip: rect(13px, 9999999px, 82px, 0);
    }
    13.33333333% {
      clip: rect(97px, 9999999px, 2px, 0);
    }
    16.66666667% {
      clip: rect(1px, 9999999px, 147px, 0);
    }
    20% {
      clip: rect(113px, 9999999px, 124px, 0);
    }
    23.33333333% {
      clip: rect(132px, 9999999px, 130px, 0);
    }
    26.66666667% {
      clip: rect(120px, 9999999px, 32px, 0);
    }
    30% {
      clip: rect(2px, 9999999px, 10px, 0);
    }
    33.33333333% {
      clip: rect(76px, 9999999px, 46px, 0);
    }
    36.66666667% {
      clip: rect(140px, 9999999px, 79px, 0);
    }
    40% {
      clip: rect(37px, 9999999px, 67px, 0);
    }
    43.33333333% {
      clip: rect(133px, 9999999px, 95px, 0);
    }
    46.66666667% {
      clip: rect(6px, 9999999px, 16px, 0);
    }
    50% {
      clip: rect(98px, 9999999px, 123px, 0);
    }
    53.33333333% {
      clip: rect(42px, 9999999px, 88px, 0);
    }
    56.66666667% {
      clip: rect(77px, 9999999px, 110px, 0);
    }
    60% {
      clip: rect(22px, 9999999px, 145px, 0);
    }
    63.33333333% {
      clip: rect(47px, 9999999px, 75px, 0);
    }
    66.66666667% {
      clip: rect(109px, 9999999px, 135px, 0);
    }
    70% {
      clip: rect(118px, 9999999px, 40px, 0);
    }
    73.33333333% {
      clip: rect(74px, 9999999px, 141px, 0);
    }
    76.66666667% {
      clip: rect(59px, 9999999px, 100px, 0);
    }
    80% {
      clip: rect(14px, 9999999px, 32px, 0);
    }
    83.33333333% {
      clip: rect(22px, 9999999px, 28px, 0);
    }
    86.66666667% {
      clip: rect(106px, 9999999px, 74px, 0);
    }
    90% {
      clip: rect(33px, 9999999px, 97px, 0);
    }
    93.33333333% {
      clip: rect(94px, 9999999px, 29px, 0);
    }
    96.66666667% {
      clip: rect(108px, 9999999px, 87px, 0);
    }
    100% {
      clip: rect(5px, 9999999px, 14px, 0);
    }
  }
  @-moz-keyframes glitch-anim-2 {
    6.66666667% {
      clip: rect(76px, 9999999px, 132px, 0);
    }
    10% {
      clip: rect(13px, 9999999px, 82px, 0);
    }
    13.33333333% {
      clip: rect(97px, 9999999px, 2px, 0);
    }
    16.66666667% {
      clip: rect(1px, 9999999px, 147px, 0);
    }
    20% {
      clip: rect(113px, 9999999px, 124px, 0);
    }
    23.33333333% {
      clip: rect(132px, 9999999px, 130px, 0);
    }
    26.66666667% {
      clip: rect(120px, 9999999px, 32px, 0);
    }
    30% {
      clip: rect(2px, 9999999px, 10px, 0);
    }
    33.33333333% {
      clip: rect(76px, 9999999px, 46px, 0);
    }
    36.66666667% {
      clip: rect(140px, 9999999px, 79px, 0);
    }
    40% {
      clip: rect(37px, 9999999px, 67px, 0);
    }
    43.33333333% {
      clip: rect(133px, 9999999px, 95px, 0);
    }
    46.66666667% {
      clip: rect(6px, 9999999px, 16px, 0);
    }
    50% {
      clip: rect(98px, 9999999px, 123px, 0);
    }
    53.33333333% {
      clip: rect(42px, 9999999px, 88px, 0);
    }
    56.66666667% {
      clip: rect(77px, 9999999px, 110px, 0);
    }
    60% {
      clip: rect(22px, 9999999px, 145px, 0);
    }
    63.33333333% {
      clip: rect(47px, 9999999px, 75px, 0);
    }
    66.66666667% {
      clip: rect(109px, 9999999px, 135px, 0);
    }
    70% {
      clip: rect(118px, 9999999px, 40px, 0);
    }
    73.33333333% {
      clip: rect(74px, 9999999px, 141px, 0);
    }
    76.66666667% {
      clip: rect(59px, 9999999px, 100px, 0);
    }
    80% {
      clip: rect(14px, 9999999px, 32px, 0);
    }
    83.33333333% {
      clip: rect(22px, 9999999px, 28px, 0);
    }
    86.66666667% {
      clip: rect(106px, 9999999px, 74px, 0);
    }
    90% {
      clip: rect(33px, 9999999px, 97px, 0);
    }
    93.33333333% {
      clip: rect(94px, 9999999px, 29px, 0);
    }
    96.66666667% {
      clip: rect(108px, 9999999px, 87px, 0);
    }
    100% {
      clip: rect(5px, 9999999px, 14px, 0);
    }
  }
  @keyframes glitch-anim-2 {
    6.66666667% {
      clip: rect(76px, 9999999px, 132px, 0);
    }
    10% {
      clip: rect(13px, 9999999px, 82px, 0);
    }
    13.33333333% {
      clip: rect(97px, 9999999px, 2px, 0);
    }
    16.66666667% {
      clip: rect(1px, 9999999px, 147px, 0);
    }
    20% {
      clip: rect(113px, 9999999px, 124px, 0);
    }
    23.33333333% {
      clip: rect(132px, 9999999px, 130px, 0);
    }
    26.66666667% {
      clip: rect(120px, 9999999px, 32px, 0);
    }
    30% {
      clip: rect(2px, 9999999px, 10px, 0);
    }
    33.33333333% {
      clip: rect(76px, 9999999px, 46px, 0);
    }
    36.66666667% {
      clip: rect(140px, 9999999px, 79px, 0);
    }
    40% {
      clip: rect(37px, 9999999px, 67px, 0);
    }
    43.33333333% {
      clip: rect(133px, 9999999px, 95px, 0);
    }
    46.66666667% {
      clip: rect(6px, 9999999px, 16px, 0);
    }
    50% {
      clip: rect(98px, 9999999px, 123px, 0);
    }
    53.33333333% {
      clip: rect(42px, 9999999px, 88px, 0);
    }
    56.66666667% {
      clip: rect(77px, 9999999px, 110px, 0);
    }
    60% {
      clip: rect(22px, 9999999px, 145px, 0);
    }
    63.33333333% {
      clip: rect(47px, 9999999px, 75px, 0);
    }
    66.66666667% {
      clip: rect(109px, 9999999px, 135px, 0);
    }
    70% {
      clip: rect(118px, 9999999px, 40px, 0);
    }
    73.33333333% {
      clip: rect(74px, 9999999px, 141px, 0);
    }
    76.66666667% {
      clip: rect(59px, 9999999px, 100px, 0);
    }
    80% {
      clip: rect(14px, 9999999px, 32px, 0);
    }
    83.33333333% {
      clip: rect(22px, 9999999px, 28px, 0);
    }
    86.66666667% {
      clip: rect(106px, 9999999px, 74px, 0);
    }
    90% {
      clip: rect(33px, 9999999px, 97px, 0);
    }
    93.33333333% {
      clip: rect(94px, 9999999px, 29px, 0);
    }
    96.66666667% {
      clip: rect(108px, 9999999px, 87px, 0);
    }
    100% {
      clip: rect(5px, 9999999px, 14px, 0);
    }
  }

  .portfolio-experiment .experiment-title {
    outline: none;
    font-size: 10vw;
    text-align: center;
    min-height: 10vw;
    max-width: 80vw;
    min-width: 10vw;
  }
  .portfolio-experiment .experiment-title, .portfolio-experiment .experiment-title * {
    animation: cray 6s infinite steps(50);
    display: inline-block;
  }
  @keyframes cray {
    2% {
      font-weight: 700;
      font-style: italic;
      text-decoration: none;
      text-transform: none;
    }
    4% {
      font-weight: 600;
      font-style: italic;
      text-decoration: line-through;
      text-transform: none;
    }
    6% {
      font-weight: 300;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    8% {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    10% {
      font-weight: 600;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    12% {
      font-weight: 600;
      font-style: normal;
      text-decoration: none;
      text-transform: capitalize;
    }
    14% {
      font-weight: 300;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    16% {
      font-weight: 400;
      font-style: normal;
      text-decoration: underline;
      text-transform: none;
    }
    18% {
      font-weight: 200;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    20% {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    22% {
      font-weight: 300;
      font-style: italic;
      text-decoration: underline;
      text-transform: none;
    }
    24% {
      font-weight: 700;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    26% {
      font-weight: 600;
      font-style: normal;
      text-decoration: line-through;
      text-transform: none;
    }
    28% {
      font-weight: 100;
      font-style: italic;
      text-decoration: none;
      text-transform: none;
    }
    30% {
      font-weight: 200;
      font-style: normal;
      text-decoration: underline;
      text-transform: none;
    }
    32% {
      font-weight: 200;
      font-style: normal;
      text-decoration: none;
      text-transform: capitalize;
    }
    34% {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    36% {
      font-weight: 200;
      font-style: italic;
      text-decoration: underline;
      text-transform: none;
    }
    38% {
      font-weight: 500;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    40% {
      font-weight: 600;
      font-style: normal;
      text-decoration: underline;
      text-transform: none;
    }
    42% {
      font-weight: 200;
      font-style: italic;
      text-decoration: none;
      text-transform: none;
    }
    44% {
      font-weight: 600;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    46% {
      font-weight: 600;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    48% {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    50% {
      font-weight: 500;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    52% {
      font-weight: 300;
      font-style: normal;
      text-decoration: none;
      text-transform: capitalize;
    }
    54% {
      font-weight: 500;
      font-style: normal;
      text-decoration: line-through;
      text-transform: none;
    }
    56% {
      font-weight: 500;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    58% {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    60% {
      font-weight: 200;
      font-style: italic;
      text-decoration: none;
      text-transform: none;
    }
    62% {
      font-weight: 300;
      font-style: italic;
      text-decoration: none;
      text-transform: none;
    }
    64% {
      font-weight: 300;
      font-style: normal;
      text-decoration: underline;
      text-transform: none;
    }
    66% {
      font-weight: 200;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    68% {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    70% {
      font-weight: 100;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    72% {
      font-weight: 500;
      font-style: normal;
      text-decoration: underline;
      text-transform: none;
    }
    74% {
      font-weight: 300;
      font-style: italic;
      text-decoration: none;
      text-transform: none;
    }
    76% {
      font-weight: 200;
      font-style: normal;
      text-decoration: none;
      text-transform: lowercase;
    }
    78% {
      font-weight: 500;
      font-style: normal;
      text-decoration: line-through;
      text-transform: capitalize;
    }
    80% {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    82% {
      font-weight: 200;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    84% {
      font-weight: 700;
      font-style: normal;
      text-decoration: line-through;
      text-transform: none;
    }
    86% {
      font-weight: 300;
      font-style: italic;
      text-decoration: none;
      text-transform: none;
    }
    88% {
      font-weight: 200;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    90% {
      font-weight: 600;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    92% {
      font-weight: 700;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    94% {
      font-weight: 700;
      font-style: normal;
      text-decoration: none;
      text-transform: uppercase;
    }
    96% {
      font-weight: 700;
      font-style: normal;
      text-decoration: underline;
      text-transform: none;
    }
    98% {
      font-weight: 700;
      font-style: italic;
      text-decoration: none;
      text-transform: none;
    }
  }
</style>